div[app-trigger-el]{
  padding: 10px;
  background: #272e44;
  margin: 10px;
  border-radius: 5px;
}

div[app-trigger-action]{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: #1c2030;
}