.parameter-list{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.parameter-list-inner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #373738;
  border-radius: 10px;
  width: 40%;
  height: 80%;
}

.parameter-list-close{
  width: 25px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parameter-list-header{
  width: 100%;
  height: 50px;
}

.parameter-list-content{
  width: 100%;
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto;
}

.parameter-list-button-dropdown{
  position: fixed;
  padding: 5px 10px;
  margin: 0 10px;
  background: #445077;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
  transform: translate(0, 5px);
  -webkit-user-select: none;
}

.parameter-list-button-dropdown > div{
  transition: 0.1s;
}

.parameter-list-button-dropdown > div:hover{
  color: #aaa;
}

.parameter-list-parameter{
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 0px 5px 10px;
  background: #445077;
  border-radius: 5px;
  transition: 0.1s;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.parameter-list-parameter:hover{
  background: #363f5e;
}

.parameter-list-parameter-delete{
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}