.settings-menu{
   position: fixed;
   z-index: 110;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.75);
 }

.settings-menu-inner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #373738;
  border-radius: 10px;
  width: 40%;
  height: 80%;
}

.settings-menu-close{
  width: 25px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-menu-header{
  width: 100%;
  height: 50px;
}

.settings-menu-content{
  width: 100%;
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto;
}