div[app-sidebar]{
  position: fixed;
  top: 10px;
  left: 10px;

  height: calc(100vh - 20px);
  width: 200px;
  padding: 0px;

  background: #272e44;
  border-radius: 5px;
}

div[app-sidebar-tab]{
  padding: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: 0.1s;
  margin: 10px;
  border-radius: 5px;
}

div[app-sidebar-tab]:hover{
  background: #5b6ca5;
}

div[app-sidebar-tab-dropped]{
  position: absolute;
  width: calc(100% - 20px);
  bottom: 0px;
}