.tab-menu{
  position: fixed;
  top: 70px;
  left: 20px;
  width: 200px;
  z-index: 100;
  height: calc(100vh - 100px);
  background: #272e44;
  border-radius: 20px;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.tab{
  border-radius: 10px;
  padding: 8px 10px;
  background: #fff0;
  margin: 5px;
  font-size: 14px;
  transition: 0.5s;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  color: #cfcfcf;
}

.tab:hover{
  background: #fff1;
}

.tab-selected{
  border-radius: 10px;
  padding: 8px 10px;
  margin: 5px;
  font-size: 14px;
  transition: 0.5s;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  color: #cfcfcf;
  background: #fff4;
}

.tab-selected > .tab-close{
  opacity: 1;
}

.tab:hover > .tab-close{
  opacity: 1;
}

.tab-meta{
  width: calc(100% - 40px);
  transform: translateY(1px);
}

.tab-meta-input{
  color: #cfcfcf;
  font-size: 14px;
  width: 120px;
  background: none;
  outline: none;
  border: none;
  transform: translateY(-1px);
}

.tab-close{
  opacity: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.tab-close:hover{
  background: #fff3;
}

.tab-icon{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.tab-new-dropdown{
  position: absolute;
  width: 180px;
  transform: translate(-10px, 35px);
  border-radius: 10px;
  background: #fff1;
}