input[type="text"]{
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #525252;
  font-size: 15px;
  font-family: Rubik, 'Courier New';
  color: #fff;
  width: 400px;
}

div[input-dropdown]{
  position: absolute;
  width: fit-content;

  margin-top: 5px;
  padding: 10px;
  float: left;
  border-radius: 5px;

  background: #525252;
  z-index: 50;
}

div[input-dropdown] > div{
  transition: 0.25s;
}

div[input-dropdown] > div:hover{
  color: #aaa;
}

.suggestion-selected{
  color: #aaa;
}