@font-face{
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf");
}

body{
  background: #1f2129;
  background-attachment: fixed;
  color: #fff;
  font-family: Rubik, 'Courier New';
  margin: 0;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}